<div class="animated fadeIn">  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Faq List            
         <span style="float:right"><a [routerLink]="['/faq/add']" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp; ADD</a></span>
        </div>
        <div class="card-body">
            <div>
                <input type="text" [(ngModel)]="searchData" placeholder="Search..">
            </div>
          
            <data-table id="persons-grid"
            [pagination_limit]="true"
            [items]="items | filter:searchData"
            [itemCount]="itemCount"
            [limit]="defaultRec"
            [indexColumn]="false"
            (reload)="reloadItems($event)"
            >
            <data-table-column
                [property]="'id'"
                [header]="'#'"
                [width]="50"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            <data-table-column
                [property]="'question'"
                [header]="'Question'"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            
            <!--<data-table-column
                [property]="'is_active'"
                [header]="'Is Active'"
                [sortable]="true"
                [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    <span> {{item.is_active === true ? 'Active' : 'Inactive'}}</span>
                </ng-template>
            </data-table-column>-->
            <data-table-column
                [property]="'id'"
                [header]="'Action'"
                [width]="200"
                [resizable]="true">
                <ng-template #dataTableCell let-item="item">
                    <a [routerLink]="['/faq/edit',item.id]" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Edit</a>
                    <button type="button" class="btn btn-danger" (click)="deleteFaq(item.id)"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </ng-template>
            </data-table-column>
        </data-table>  
          <!--<table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Question</th>                                                
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let faq of faqList">
                
                <td>{{faq.question}}</td>
                                               
                <td>
          <a [routerLink]="['/faq/edit',faq.id]" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Edit</a>
          <button type="button" class="btn btn-danger" (click)="deleteFaq(faq.id)"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </td>
              </tr>               
            </tbody>
          </table>-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
