<div class="animated fadeIn">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="addEvent(rForm.value)">
                    <div class="card-header">
                        <strong>Event</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="company">Name <span>*</span></label>
                            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name">
                            <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter name</div>
                        </div>
                        <div class="form-group">
                            <label for="location">Location <span>*</span></label>
                            <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                            <div class="text-danger" *ngIf="!isLocationSelect">Please enter event location</div>
                        </div>
                        <div class="form-group">
                            <label for="company">Event Date <span>*</span></label>
                            <ngx-date-picker class="" formControlName="event_date" [disableInput]="true" [min]="minDate" (selectedDateChange)="getSelectDate($event)"></ngx-date-picker>
                            <div class="text-danger" *ngIf="!isDateSelect">Please select event date</div>
                        </div>
                        
                        <div class="form-group">
                            <label for="vat">Description</label>
                            <!-- <div  [froalaEditor]="editorOptions" [(froalaModel)]="content"></div> -->
                            <app-tinymce formControlName="description" name='description'></app-tinymce>
                        </div>
                       <!-- <div class="form-group">
                            <label for="company">Event Date & Time<span>*</span></label>
                            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                            <date-time-picker #dt1></date-time-picker>
                        </div>-->
                        <div class="form-group">
                            <label for="selectUser">Select User </label>
                            <ss-multiselect-dropdown formControlName="selectedUser" [options]="activeUserOpt" [settings]="multiSelSettings" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label for="selectUser">Select Interest </label>
                            <angular2-multiselect [data]="InterestDropdownList" 
                                [(ngModel)]="selectedIntItems" 
                                [ngModelOptions]="{standalone: true}"
                                [settings]="dropdownSettingsInterest">
                            </angular2-multiselect>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="is_active">
                                    <input type="checkbox" id="is_active"  [checked]="is_active" (change)="changeIsActive($event)"> Is Active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="goToList()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>