<div class="animated fadeIn">  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Group Details            
        </div>
        <div class="card-body">
          <div class="bd-example">
            <dl class="row">
              <dt class="col-sm-3">Group Name</dt>
              <dd class="col-sm-9">{{detailsData?.name}}</dd>
              
              <dt class="col-sm-3" *ngIf="isSubGrp">Parent Group Name</dt>
              <dd class="col-sm-9" *ngIf="isSubGrp">{{isParentGrpDet?.name}}</dd>

              <dt class="col-sm-3">Location</dt>
              <dd class="col-sm-9">
                  <agm-map *ngIf="grpLat && grpLong" [latitude]="grpLat" [longitude]="grpLong" style="height:200px;width:80%"
                  [zoom]="8">
                      <agm-marker [latitude]="grpLat" [longitude]="grpLong">
                          <agm-info-window>
                              <strong>{{detailsData?.location}}</strong>
                          </agm-info-window>
                      </agm-marker>
                  </agm-map>
              </dd>

              <dt class="col-sm-3">Latitude</dt>
              <dd class="col-sm-9">{{grpLat}}</dd>

              <dt class="col-sm-3">Longitude</dt>
              <dd class="col-sm-9">{{grpLong}}</dd>

              <dt class="col-sm-3"> </dt>
              <dd class="col-sm-9"> </dd>

              <dt class="col-sm-3" *ngIf="isSubGrpList.length > 0">Sub Group List</dt>
              <dd class="col-sm-9" *ngIf="isSubGrpList.length > 0"> 
                  <dl class="row" *ngFor="let subGrp of isSubGrpList">
                      <dd class="col-sm-12">
                        <a [routerLink]="['/group/view',subGrp.id]"> {{subGrp.name}}</a> 
                        <a [routerLink]="['/group/view',subGrp.id]" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> View </a>
                        <a [routerLink]="['/group/chat',subGrp.id]" class="btn btn-sm btn-primary"><i class="fa fa-comments"></i>&nbsp; Chat</a>
                        <a [routerLink]="['/group/edit',subGrp.id]" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Edit </a>
                        <a class="btn btn-sm btn-danger" (click)="deleteGroup(subGrp.id, detailsData?.id)"><i class="fa fa-trash"></i> Delete </a>
                      </dd>
                  </dl>
              </dd>

              <dt class="col-sm-3">Member</dt>
              <dd class="col-sm-9"> 
                  <dl class="row" *ngIf="selectedUser.length > 0">
                      <dd class="col-sm-12" *ngFor="let userData of selectedUser"><a [routerLink]="['/customers/view',userData.customer.id]">{{userData.customer.name}}</a></dd>
                  </dl>
                  <p style="padding-left: 0px;" class="col-sm-12" *ngIf="selectedUser.length == 0" > No user select </p> 
              </dd>

              <dt class="col-sm-3">Interest</dt>
              <dd class="col-sm-9"> 
                  <dl class="row" *ngIf="selectedInterest.length > 0">
                      <dd class="col-sm-12" *ngFor="let intData of selectedInterest">{{intData.interest.name}}</dd>
                  </dl>
                  <p style="padding-left: 0px;" class="col-sm-12" *ngIf="selectedInterest.length == 0">No interest select</p> 
              </dd>

              <dt class="col-sm-3">Description</dt>
              <dd class="col-sm-9" [innerHTML]="detailsData?.description"> </dd>

              <dt class="col-sm-3">Chat</dt>
              <dd class="col-sm-9">
                  <a [routerLink]="['/group/chat',detailsData.id]" class="btn btn-sm btn-primary"><i class="fa fa-comments"></i>&nbsp; Chat</a>
              </dd>
              
              <dt class="col-sm-3">Status</dt>
              <dd class="col-sm-9">{{ detailsData?.is_active === true ? 'Active' : 'Inactive' }}</dd>
              <dt class="col-sm-3">Last Activity</dt>
              <dd class="col-sm-9">{{detailsData?.last_activity | date:'MMM dd, yyyy h:mm a'}}</dd>

              <dt class="col-sm-3">Group Create Date</dt>
              <dd class="col-sm-9">{{detailsData?.cdate | date:'MMM dd, yyyy h:mm a'}}</dd>

              <!--<dt class="col-sm-3">Nesting</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">Nested definition list</dt>
                  <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                </dl>
              </dd>-->
            </dl>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
