<div class="animated fadeIn">  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Group chat of "{{detailsData.name}}"            
          </div>
          <div class="card-body">
            
            <div class="col-sm-12">
                <div class="container clearfix">
                                        
                    <div class="chat">
                      <div class="chat-header clearfix">
                        <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />-->
                        
                        <div class="chat-about">
                          <div class="chat-with">Group chat for "{{detailsData.name}}"</div>
                          <div class="chat-num-messages" *ngIf="chatList?.length > 0">Already {{chatList?.length}} messages</div>
                        </div>
                        <!--<i class="fa fa-star"></i>-->
                      </div> <!-- end chat-header -->
                      
                      <div class="chat-history">
                        <ul>
                          <!--<li class="clearfix" style="list-style: none;">
                            <div class="message-data align-right">
                              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
                              
                            </div>
                            <div class="message other-message float-right">
                              Hi Vincent, how are you? How is the project coming along?
                            </div>
                          </li>-->
                          
                          <li style="list-style: none;" *ngFor="let chat of chatList">
                            <div class="message-data">
                              <span class="message-data-name">
                                  <div class="avatar">
                                      <img src="./assets/img/avatars/user_128.png"  class="img-avatar">
                                  </div>
                                 {{chat.customer.name}}
                                </span>
                              <span class="message-data-time">{{chat?.cdate | date:'MMM dd, yyyy h:mm a'}}</span>
                            </div>
                            <div class="message my-message">{{chat.message}}
                            </div>
                          </li>
                          <li style="list-style: none;" *ngIf="chatList.length == 0">
                            <p>No chat found.</p>
                          </li>
                          <!--<li class="clearfix">
                            <div class="message-data align-right">
                              <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
                              
                            </div>
                            <div class="message other-message float-right">
                              Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                            </div>
                          </li>
                          
                          <li>
                            <div class="message-data">
                              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                              <span class="message-data-time">10:20 AM, Today</span>
                            </div>
                            <div class="message my-message">
                              Actually everything was fine. I'm very excited to show this to our team.
                            </div>
                          </li>
                          
                          <li>
                            <div class="message-data">
                              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                              <span class="message-data-time">10:31 AM, Today</span>
                            </div>
                            <i class="fa fa-circle online"></i>
                            <i class="fa fa-circle online" style="color: #AED2A6"></i>
                            <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                          </li>-->
                          
                        </ul>
                        
                      </div> <!-- end chat-history -->
                      
                      <!--<div class="chat-message clearfix">
                        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                                
                        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-file-image-o"></i>
                        
                        <button>Send</button>
                
                      </div> -->
                      
                    </div>
                    
                  </div> <!-- end container -->
                
                
                
                
              </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  