<div class="sidebar">
    <app-sidebar-header></app-sidebar-header>
    <app-sidebar-form></app-sidebar-form>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a [routerLink]="['/customers']" routerLinkActive="active" class="nav-link"><i class="icon-people"></i> Users</a>
            </li>
            <!--<li class="nav-item">
                <a [routerLink]="['/worker']" routerLinkActive="active" class="nav-link"><i class="icon-people"></i> Workers</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/vertical']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Vertical</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/zone']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Zone</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/service']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Service</a>
            </li>
            
            <li class="nav-item">
                <a [routerLink]="['/job']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Jobs</a>
            </li>
            
            <li class="nav-item">
                <a [routerLink]="['/materials']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Materials</a>
            </li>-->
            <li class="nav-item">
                <a [routerLink]="['/events']" routerLinkActive="active" class="nav-link"><i class="icon-book-open"></i> Events</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/group']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Groups</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/community']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Communities</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/interest']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Interest</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/reporting']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Reports</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/report']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Report Abuse</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/word']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Word</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/emailtemplate']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Emailtemplate</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/notification']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Notification</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/pushnotification']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> Pushnotification</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/cms']" routerLinkActive="active" class="nav-link"><i class="icon-book-open"></i> CMS</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/faq']" routerLinkActive="active" class="nav-link"><i class="icon-eye"></i> FAQ</a>
            </li>
            <!--<li class="nav-item">
                <a [routerLink]="['/language']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Language</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/currency']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Currency</a>
            </li>-->
            <li class="nav-item">
                <a [routerLink]="['/setting']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i> Setting</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/slider']" routerLinkActive="active" class="nav-link"><i class="icon-check"></i>Splash Page</a>
            </li>
        </ul>
    </nav>
    <app-sidebar-footer></app-sidebar-footer>
    <app-sidebar-minimizer></app-sidebar-minimizer>
</div>