<div class="animated fadeIn">  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Interest Details            
          </div>
          <div class="card-body">
            <div class="bd-example">
              <dl class="row">
                <dt class="col-sm-3">Interest Name</dt>
                <dd class="col-sm-9">{{InterestDet?.name}}</dd>
                
                <dt class="col-sm-3" *ngIf="InterestDet?.is_pid > 0">Parent Interest Name</dt>
                <dd class="col-sm-9" *ngIf="InterestDet?.is_pid > 0"><a [routerLink]="['/interest/view',mainIntDet?.id]">{{mainIntDet?.name}}</a></dd>

                <!--<dt class="col-sm-3">Interest Type</dt>
                <dd class="col-sm-9">{{InterestDet.is_pid > 0 ? 'Children' : 'Parent'}}</dd>-->

                <dt class="col-sm-3" *ngIf="InterestDet.is_pid < 1">Select Parent</dt>
                <dd class="col-sm-9" *ngIf="InterestDet.is_pid < 1"> 
                  {{subCatList.length}}
                  <dl class="row" *ngIf="subCatList.length > 0">
                      <dd class="col-sm-12" *ngFor="let subCatData of subCatList"><a [routerLink]="['/interest/view',subCatData.interest.id]">{{subCatData.interest.name}}</a></dd>
                  </dl>
                </dd>
                
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9" [innerHTML]="InterestDet?.description"> </dd>
  
                <dt class="col-sm-3">Total Equivalencies</dt>
                <dd class="col-sm-9"> 
                  {{InterestDet?.tot_equivalencies}}
                </dd>

                <dt class="col-sm-3">Total User</dt>
                <dd class="col-sm-9"> 
                  {{tot_user.length}}
                  <dl class="row" *ngIf="tot_user.length > 0">
                      <dd class="col-sm-12" *ngFor="let userData of tot_user"><a [routerLink]="['/customers/view',userData.customer.id]">{{userData.customer.name}}</a></dd>
                  </dl>
                </dd>
  
                <dt class="col-sm-3">Total Event</dt>
                <dd class="col-sm-9"> 
                  {{tot_event.length}}
                  <dl class="row" *ngIf="tot_event.length > 0">
                      <dd class="col-sm-12" *ngFor="let eventData of tot_event"><a [routerLink]="['/events/view',eventData.eventdet.id]">{{eventData.eventdet.name}}</a></dd>
                  </dl>
                </dd>

                <dt class="col-sm-3">Total Group</dt>
                <dd class="col-sm-9"> {{tot_group.length}}
                    <dl class="row" *ngIf="tot_group.length > 0">
                        <dd class="col-sm-12" *ngFor="let grpData of tot_group"><a [routerLink]="['/group/view',grpData.groupdet.id]">{{grpData.groupdet.name}}</a></dd>
                    </dl>
                </dd>

                <dt class="col-sm-3">Total Community</dt>
                <dd class="col-sm-9"> {{tot_community.length}}
                    <dl class="row" *ngIf="tot_community.length > 0">
                        <dd class="col-sm-12" *ngFor="let comData of tot_community"><a [routerLink]="['/community/view',comData.community.id]">{{comData.community.name}}</a></dd>
                    </dl>
                </dd>

                <!--<dt class="col-sm-3">Interest</dt>
                <dd class="col-sm-9"> 
                    <dl class="row" *ngIf="selectedInterest.length > 0">
                        <dd class="col-sm-12" *ngFor="let intData of selectedInterest">{{intData.interest.name}}</dd>
                    </dl>
                    <p style="padding-left: 0px;" class="col-sm-12" *ngIf="selectedInterest.length == 0">No interest select</p> 
                </dd>-->
  
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">{{ InterestDet?.is_active === true ? 'Active' : 'Inactive' }}</dd>

                <dt class="col-sm-3">Created At</dt>
                <dd class="col-sm-9">{{ InterestDet?.created_at | date:'MMM dd, yyyy h:mm a' }}</dd>
  
              </dl>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  